<!--users/templates/users/dashboard.html-->

{% extends 'base.html' %}

{% block content %}
<div>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'password_change' %}">Change password</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <div class="container">
        <h1>Personal Account Page</h1>
        <hr />
        <h2>Account Information</h2>
        <p><strong>Account Name:</strong> {{ user.username }} </p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Phone:</strong> 555-555-5555</p> 
        {% comment %} точно нужен телефон?? {% endcomment %}
        <hr />
        <h2>Docker Containers</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Container Name</th>
              <th>Start</th>
              <th>Stop</th>
              <th>Expires</th>
              <th>Prolong</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Container 1</td>
              <td><button id="run-script-btn">Run script</button>

                <script>
                    const btn = document.getElementById("run-script-btn");
                    btn.addEventListener("click", () => {
                        fetch("/run_script/")
                            .then(response => response.text())
                            .then(data => console.log(data))
                            .catch(error => console.error(error));
                    });
                </script>
                </td>

              <td><button class="btn btn-success">Start </button></td>
              <td><button class="btn btn-danger">Stop</button></td>
              <td>10/31/2021</td>
              <td><button class="btn btn-primary">Prolong</button></td>
            </tr>
            <tr>
              <td>Container 2</td>
              <td><button class="btn btn-success">Start</button></td>
              <td><button class="btn btn-danger">Stop</button></td>
              <td>11/15/2021</td>
              <td><button class="btn btn-primary">Prolong</button></td>
            </tr>
            <tr>
              <td>Container 3</td>
              <td><button class="btn btn-success">Start</button></td>
              <td><button class="btn btn-danger">Stop</button></td>
              <td>12/01/2021</td>
              <td><button class="btn btn-primary">Prolong</button></td>
            </tr>
          </tbody>
        </table>
      </div>
</div>

{% endblock %}